@font-face {
  font-family: 'harry';
  src: url('HARRYP__.TTF')  format('truetype')
}

body {
  background-color: black;
}

p, h1 {
  color: white;
}

h1 {
  font-size: 60px;
  text-align: center;
  font-family: 'harry';
  color: yellow;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

img {
  display: block;
  margin: auto;
}

.footer {
  text-align: center;
}

